:root {
  --pure-black: #000000;
  --light-grey: #dfdfdf;
  --pure-white: #ffffff;
  --main-accent: linear-gradient(
    202deg,
    rgba(255, 197, 147, 1) 0%,
    rgba(188, 113, 152, 1) 50%,
    rgba(90, 119, 255, 1) 100%
  );
}
/* 
  ------------------REUSABLE----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 12px;
  font-weight: 700px;
}
.flex {
  display: flex;
}
.uppercase {
  text-transform: uppercase;
}
.mobile {
  display: block;
}
.tablet {
  display: none;
}
.desktop {
  display: none;
}
/* ------------------------NAVBAR-------------------------------- */
.navbar-toggle {
  display: none;
  margin-top: 20px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}
#navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar-links {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
}
.navbar-links:hover {
  color: var(--light-grey);
  transition: ease-in 0.3s;
}

/* -----------------HERO SECTION--------------- */
.top-outermost-container {
  flex-direction: column-reverse;
}
.left-main-container {
  flex-basis: 100%;
  background-color: var(--pure-black);
}
.main-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30% 10%;
  color: var(--pure-white);
}
.main-text-container h1 {
  text-transform: uppercase;
}
.main-text-container p {
  margin-top: 5%;
  color: grey;
}
.right-main-container {
  flex-basis: 100%;
}
.img-settings {
  width: 100%;
  vertical-align: bottom;
  height: 100%;
}

/* --------------FEATURES INFO SECTION---------------- */
.features-info-inner-container {
  margin: 15%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
}
.features-cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 10%;
}
.features-cards h2 {
  margin: 5% auto;
}
.features-imgs {
  height: auto;
  width: 80px;
}

/* -------------BETA SECTION---------------- */
.beta-container {
  background-image: url("assets/shared/mobile/bg-beta.jpg");
  background-size: cover;
  background-position: center;
  color: var(--pure-white);
  flex-direction: column;
  height: 300px;
  width: 100%;
}
.beta-left-container {
  flex-basis: 100%;
}
.beta-text-wrapper {
  margin: 40px auto 0;
  width: 200px;
}
.beta-text-wrapper h1 {
  font-size: 20px;
}
.beta-right-container {
  flex-basis: 100%;
}
.invite-wrapper {
  width: 200px;
  margin: 30px auto 0;
}
.invite-wrapper i {
  margin-left: 20%;
  cursor: pointer;
}
/* ---------------FOOTER----------------- */
.footer-main {
  height: 300px;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
.footer-info-div {
  height: 250px;
  width: 100%;
  margin: 7% auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo-div {
  margin-left: 5%;
  margin-bottom: 4%;
  flex-basis: 100%;
  width: 200px;
  text-align: center;
  margin: 0;
}
.footer-logo {
  color: white;
  cursor: pointer;
  text-decoration: none;

  font-weight: 700;
  font-size: 140%;
}
.footer-links-div {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 200px;
  text-align: center;
}
.footer-links {
  color: white;
  text-decoration: none;
  margin: 4% 0;
  cursor: pointer;
}
.footer-links:hover {
  color: grey;
  transition: ease-in 0.3s;
}
.social-media-div {
  flex-basis: 100%;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}
.media-links {
  margin-right: 2%;
  cursor: pointer;
}

/* --------------------MEDIA QUERIES------------------ */
@media only screen and (min-width: 1025px) {
  .top-outermost-container {
    flex-direction: row;
  }
  .left-main-container {
    flex-basis: 40%;
  }
  .right-main-container {
    flex-basis: 60%;
  }
  .main-text-container {
    display: flex;
    align-items: flex-start;
  }
  .features-info-inner-container {
    margin: 10% 5%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
  }
  .features-imgs {
    height: 70px;
    width: auto;
  }
  .loop {
    height: 70px;
    width: 70px;
  }
  .beta-container {
    flex-direction: row;
    background-image: url("assets/shared/desktop/bg-beta.jpg");
  }
  .beta-text-wrapper {
    margin: 20% auto 0;
    width: 400px;
  }
  .beta-text-wrapper h1 {
    font-size: 30px;
  }
  .invite-wrapper {
    width: 300px;
    margin: 25% auto 0;
  }
  .invite-wrapper i {
    margin-left: 30%;
  }
  .footer-info-div {
    margin: 3% auto;
    width: 700px;
  }
  .footer-links-div {
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .top-outermost-container {
    flex-direction: row;
  }
  .left-main-container {
    flex-basis: 60%;
  }
  .right-main-container {
    flex-basis: 40%;
  }
  .main-text-container {
    display: flex;
    align-items: flex-start;
  }
  .features-info-inner-container {
    margin: 10%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .features-imgs {
    height: 70px;
    width: auto;
  }
  .loop {
    height: 70px;
    width: 70px;
  }
  .beta-container {
    flex-direction: row;
  }
  .beta-text-wrapper {
    margin: 20% auto 0;
    width: 350px;
  }
  .beta-text-wrapper h1 {
    font-size: 25px;
  }
  .invite-wrapper {
    width: 300px;
    margin: 20% auto 0;
  }
  .invite-wrapper i {
    margin-left: 30%;
  }
  .footer-info-div {
    margin: 3% auto;
    width: 700px;
  }
  .footer-links-div {
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* ----------NAVBAR--------------- */
  .navbar-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
  }
  .navbar-menu.active {
    left: 0;
  }
  .navbar-item {
    margin: 2.5rem 0;
  }
  .navbar-links {
    color: black;
  }
  .navbar-toggle {
    display: block;
    cursor: pointer;
  }
  .navbar-toggle span {
    background-color: black;
  }
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
